{
  "presets": [
    ["@babel/preset-env",
      {
        "targets": {
          "browsers": ["firefox 52"]
        }
      }
    ],
    "@babel/typescript",
  ],
  "plugins": [
    "@babel/proposal-class-properties",
    "@babel/proposal-object-rest-spread",
    "@babel/transform-runtime"
    ["@babel/transform-runtime", {
      "regenerator": true
    }]
  ]
}