# Dev Dependencies
/node_modules/*

# Ignore git-filter scripts (clean/smudge)
bin/git-filters/*.js

# Build state files
/.build.*json

# Combined translation file
/src/script/translations.js

# Packaged extensions
/dist/*
/*.zip
/release/**/*.zip

# Dev extensions for debugging
/extension*/*

# Testing
/test/built/*
/test/.nyc_output/*
/test/coverage/*

# Built shared libs
/dist-lib

# General
# MacOS
.DS_Store
.Trashes
# Xcode
*.swp
xcuserdata/

# Windows
Thumbs.db
[Dd]esktop.ini
