# Dev Dependencies
node_modules/*

# Packaged extensions
*.zip

# Dev extensions for debugging
extension-firefox/*

# Combined file (prebuild.js)
src/webFilter.bundle.ts

# Filter for testing
dist/webFilter.js

# Testing coverage
.nyc_output/*
coverage/*