body {font-family: Arial;}

h3 {
  margin: 5px 0 15px 0;
  padding: 0px;
}

.tabcontent p {
  margin: 0;
}

a:link, a:visited {
  color: gray;
  font-size: 10px;
}

a:hover, a:active {
  color: #393939;
  font-size: 10px;
}

textarea {
  width:100%;
}

label input[type=checkbox]{
  position: relative;
  vertical-align: middle;
  bottom: 1px;
}

#save {
  float: right;
  margin-right: 0;
}

.notes {
  padding-top: 5px;
  font-size: 10px;
  color: gray;
}

.examples {
  padding-bottom: 5px;
  padding-left: 30px;
  font-size: 10px;
  color: gray;
  margin-bottom: 10px;
}

#options {
  padding: 0px;
}

#status {
  height: 40px;
  padding-top: 11px;
  padding-bottom: 11px;
  color: green;
}

#status.error {
  color: red;
}

#default {
  margin: 6px 0 0 0;
  float: right;
  padding: 5px 20px 5px 20px; 
  border: 1px solid #aaa; 
  border-radius: 5px;
}

#save-list {
  position: relative;
  right: 135px;
  top: 187px;
  margin: 6px 0 0 0;
  float: right;
  padding: 5px 20px 5px 20px; 
  border: 1px solid #aaa; 
  border-radius: 5px;
}

#contributors {
  font-style: italic;
  font-size: 10px;
  line-height: 14px;
  display: inline;
  color: gray;
}

textarea {
  resize: vertical;
  min-height: 50px;
  max-height: 232px;
  border-radius: 5px;
}

#toggleProfanity {
  padding: 5px 20px 5px 20px; 
  border: 1px solid #aaa; 
  border-radius: 5px;
}

.options {
  margin: 0px;
}

::placeholder {
  color: #bbb;
}


/* Tab Styling */
div.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

div.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
}

div.tab button:hover {
  background-color: #ddd;
}

div.tab button.active {
  background-color: #ccc;
}

.tabcontent {
  height: 300px;
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top: none;
}