a:link, a:visited {
  color: gray;
  font-size: 10px;
}

a:hover, a:active {
  color: #393939;
  font-size: 10px;
}

textarea {
  width:100%;
}

label input[type=checkbox]{
  position: relative;
  vertical-align: middle;
  bottom: 1px;
}

#save {
  float: right;
  margin-right: 0;
}

.notes {
  padding-top: 5px;
  font-size: 10px;
  color: gray;
}

.examples {
  padding-bottom: 5px;
  padding-left: 20px;
  font-size: 10px;
  color: gray; 
}

#options {
  padding: 20px 0;
}

#status {
  height: 40px;
  padding-top: 11px;
  padding-bottom: 11px;
  color: green;
}

#status.error {
  color: red;
}

#default {
  margin: 6px 0 0 0;
  float: right;
}

#contributors {
  font-style: italic;
  font-size: 10px;
  line-height: 14px;
  display: inline;
  color: gray;
}
