a:hover
{color:#2980b9}
#header img
{margin-bottom:8px}
/* #helpPage
{overflow-y:scroll;height:800px} */
#main
{padding-bottom:16px}
#menu > a:hover
{color:#fff!important;background-color:#2980b9!important}
.disabled
{cursor:not-allowed!important;}
.notes
{margin-left:16px;padding-top:5px;font-size:10px;color:gray}
.small
{width:300px}