/* class colors used:
w3-red
w3-flat-peter-river
w3-border-grey
w3-flat-silver
w3-flat-pomegranate */

/* #region Themes */
:root {
  color-scheme: light dark; /* both themes supported */
}

/* Variables */
html {
  --blue-darker: #2c3e50; /* midnight-blue */
  --blue: #2980b9; /* belize-hole */
  --dark-dark: #121212;
  --dark-light: #202020;
  --dark-text: #fff;
  --green: #16a085; /* green-sea */
  --light-dark: #f1f1f1; /* w3-light-grey */
  --light-light: #eee;
  --light-text: #000;
  --silver: #bdc3c7;
}

/* Light theme variables (default) */
body {
  --background-color: var(--light-light);
  --text-color: var(--light-text);
}
div#page {
  --background-color: var(--light-dark);
}
div.w3-modal.light > div {
  --background-color: var(--light-dark);
}

/* Dark theme variables */
body.dark {
  --background-color: var(--dark-light);
  --text-color: var(--dark-text);
}
div#page.dark {
  --background-color: var(--dark-dark);
}
div.w3-modal.dark > div {
  --background-color: var(--dark-light);
}

/* Adjust variables based on system preference */
@media (prefers-color-scheme: dark) {
  /* Dark theme (default) */
  body {
    --background-color: var(--dark-light);
    --text-color: var(--dark-text);
  }
  div#page {
    --background-color: var(--dark-dark);
  }
  div.w3-modal > div {
    --background-color: var(--dark-light);
  }

  /* Light theme */
  body.light {
    --background-color: var(--light-light);
    --text-color: var(--light-text);
  }
  div#page.light {
    --background-color: var(--light-dark);
  }
  div.w3-modal.light > div {
    --background-color: var(--light-dark);
  }
}
/* #endregion */

/* #region HTML Elements */
body {
  background-color: var(--background-color);
  color: var(--text-color);
}

div#page {
  background-color: var(--background-color);
  color: var(--text-color);
}

div.w3-modal > div {
  background-color: var(--background-color);
}

a:hover {
  color: var(--blue);
}

h4.sectionHeader {
  color: var(--blue);
}

/* General */
.textInput {
  height: 40px;
}
/* #endregion */

/* #region Header */
#header {
  display: block;
  height: 40px;
  line-height: 40px;
  padding-top: 4px;
  margin-bottom: 12px;
  width: 100%;
}

#header span.title {
  font-size: 28px;
  vertical-align: middle;
  font-family: "Segoe UI", Arial, sans-serif;
}

#header img.discord {
  height: 31px;
}
/* #endregion */

/* #region Navigation */
#menu {
  height: 40px;
  line-height: 24px;
}

#menu > a:hover, #menu > div:hover {
  color: #fff !important;
  background-color: var(--blue) !important;
}

div.themes > div {
  width: 18px;
  margin-top: 3px;
}

div.themes div.sun {
  color: orange;
}
/* #endregion */

/* #region Pages */
#main {
  padding-bottom: 16px;
}

/* Words */
div#wordsPage #wordlistSelections label input {
  margin-right: 5px;
}

div#wordsPage input#substitutionText {
  display: inline;
}

/* Audio */
#supportedAudioSitesStatus, #supportedAudioSitesStatus:hover {
  color: #fff;
  display: inline-block;
  margin-bottom: 15px;
  text-decoration: none;
}

#supportedAudioSitesConfig {
  display: block;
  margin-bottom: 15px;
}

/* Bookmarklet */
a#bookmarkletLink:active, a#bookmarkletLink:hover, a#bookmarkletLink:link, a#bookmarkletLink:visited {
  color: #fff;
}

/* Help */
/* #helpPage {
  overflow-y: scroll;
  height: 800px;
} */
/* #endregion */

/* #region Modals */
#confirmModal, #passwordModal, #statusModal {
  z-index: 900;
}

#bulkWordEditorModal, #supportedAudioSitesModal {
  z-index: 500;
}

#supportedAudioSitesModal textarea {
  width: 420px;
  height: 400px;
  font-size: 11px;
}

/* Bulk Word Editor */
#bulkWordEditorModal div.w3-modal-content {
  width: 98%;
}

#bulkWordEditorModal div.tableContainer {
  overflow: auto;
  height: 600px;
}

#bulkWordEditorModal table {
  border-collapse: separate !important; /* Don't collapse */
  border-spacing: 0;
  border-style: solid;
  border-width: 0 1px;
  text-align: center;
  width: 100%;
}

#bulkWordEditorModal table th {
  /* Apply both top and bottom borders to the <th> */
  background-color: var(--green);
  border-bottom: 1px solid;
  border-top: 1px solid;
  position: sticky;
  top: 0;
  vertical-align: middle;
}

#bulkWordEditorModal table th button,
#bulkWordEditorModal table th input,
#bulkWordEditorModal table th span {
  vertical-align: middle;
}

#bulkWordEditorModal table th button,
#bulkWordEditorModal table th input {
  margin-right: 5px;
}

#bulkWordEditorModal table td {
  /* For cells, apply the border to one of each side only (right but not left, bottom but not top) */
  border-bottom: 1px solid;
}
/* #endregion */


/* #region Utility */
.disabled {
  cursor: not-allowed !important;
}

.extraSmallInput {
  width: 70px;
  text-align: right;
}

.notes {
  margin-left: 16px;
  padding-top: 5px;
  font-size: 10px;
  color: gray;
}

.small {
  width: 300px;
}

/* Stats Page */
#statsSummaryContainer {
  width: 400px;
}

#statsWordContainer {
  overflow: auto;
  max-height: 465px;
  margin-bottom: 8px;
}

#statsWordTable th {
  background-color: var(--blue);
  position: sticky;
  top: 0;
  z-index: 10;
}

#statsWordTable tbody .statsTooltip {
  position: absolute;
  left: 0;
  bottom: 18px
}
/* #endregion */

/* #region Uncaught Errors */
#uncaughtErrors P {
  color: red;
}

#uncaughtErrors P:first-child {
  font-weight: bolder;
}
/* #endregion */
