/* class colors used:
w3-red
w3-flat-peter-river
w3-border-grey
w3-flat-silver
w3-flat-pomegranate */

/* || HTML Elements */

body {
  background: #f1f1f1; /* w3-light-grey */
  color: #000;
}

body.dark {
  background: #202020;
  color: #fff;
}

div.dark {
  background: #121212;
  color: #fff;
}

html {
  --blue: #2980b9; /* belize-hole */
  --silver: #bdc3c7;
}

a:hover {
  color: var(--blue);
}

h4.sectionHeader {
  color: var(--blue);
}

/* || Header & Navigation */

#header h2 {
  display: inline;
  line-height: 50px;
}

#header img.logo {
  margin-bottom: 8px;
}

#header img.donation {
  margin-top: 14.5px;
  margin-bottom: 14.5px;
}

div.themes > div {
  width: 18px;
  margin-top: 3px;
}

div.themes div.sun {
  color: orange;
}

#header img.patreon {
  margin-top: 9.5px;
  margin-bottom: 9.5px;
}

#header img.discord {
  height: 31px;
}

#menu {
  height: 40px;
  line-height: 24px;
}

#menu > a:hover, #menu > div:hover {
  color: #fff !important;
  background-color: var(--blue) !important;
}

/* || Pages */

#main {
  padding-bottom: 16px;
}

/* Words */
div#wordsPage #wordlistSelections label input {
  margin-right: 5px;
}

div#wordsPage input#substitutionText {
  display: inline;
}

/* Audio */
.updateYouTubeAutoLimits {
  width: 70px;
  text-align: right;
}

/* Bookmarklet */
a#bookmarkletLink:active, a#bookmarkletLink:hover, a#bookmarkletLink:link, a#bookmarkletLink:visited {
  color: #fff;
}

/* Help */
/* #helpPage {
  overflow-y: scroll;
  height: 800px;
} */

/* || Modals */

#confirmModal, #passwordModal, #statusModal {
  z-index: 900;
}

#bulkWordEditorModal, #supportedAudioSitesModal {
  z-index: 500;
}

#confirmModal div#confirmModalContent {
  white-space: pre;
}

#supportedAudioSitesModal textarea {
  width: 420px;
  height: 400px;
  font-size: 11px;
}

/* Bulk Word Editor */
#bulkWordEditorModal div.tableContainer {
  overflow: auto;
  height: 600px;
}

#bulkWordEditorModal table {
  border: none; /* Fix small gap on sticky header from .w3-table-all */
}

#bulkWordEditorModal table th input,span {
  vertical-align: middle;
}

#bulkWordEditorModal table th {
  background-color: var(--silver);
  position: sticky;
  top: 0;
  z-index: 10;
  vertical-align: middle;
}

/* || Utility */

.disabled {
  cursor: not-allowed !important;
}

.notes {
  margin-left: 16px;
  padding-top: 5px;
  font-size: 10px;
  color: gray;
}

.small {
  width: 300px;
}

/* Stats Page */
#statsSummaryContainer {
  width: 400px;
}

#statsWordContainer {
  overflow: auto;
  max-height: 500px;
  margin-bottom: 8px;
}

#statsWordTable th {
  background-color: var(--blue);
  position: sticky;
  top: 0;
  z-index: 10;
}

#statsWordTable tbody .statsTooltip {
  position: absolute;
  left: 0;
  bottom: 18px
}
