html {
  --blue: #2980b9; /* belize-hole */
  --silver: #bdc3c7;
}
a:hover
{color:var(--blue)}
h4.sectionHeader
{color:var(--blue)}
#header img
{margin-bottom:8px}
/* #helpPage
{overflow-y:scroll;height:800px} */
#main
{padding-bottom:16px}
#menu > a:hover
{color:#fff!important;background-color:var(--blue)!important}
.updateYouTubeAutoLimits
{width:70px;text-align:right;}
.disabled
{cursor:not-allowed!important;}
.notes
{margin-left:16px;padding-top:5px;font-size:10px;color:gray}
.small
{width:300px}
/* Bookmarklet Link */
a#bookmarkletLink:active, a#bookmarkletLink:hover, a#bookmarkletLink:link, a#bookmarkletLink:visited
{color: #fff}
/* Modals */
#confirmModal,#passwordModal,#statusModal
{z-index:900}
#bulkWordEditorModal,#supportedAudioSitesModal
{z-index:500}
/* Bulk Word Editor */
#bulkWordEditorModal table
{border:none;} /* Fix small gap on sticky header from .w3-table-all */
#bulkWordEditorModal table th
{background-color:var(--silver);position:sticky;top:0;z-index:10;vertical-align:middle;}
#bulkWordEditorModal table th input,span
{vertical-align:middle;}
#supportedAudioSitesModal textarea
{width:420px;height:400px;font-size:11px;}
