/* #region Themes */
:root {
  color-scheme: light dark; /* both supported */
}

html {
  --blue: #2980b9; /* belize-hole */
  --dark-dark: #121212;
  --dark-light: #202020;
  --dark-text: #fff;
  --light-dark: #f1f1f1; /* w3-light-grey */
  --light-darker: #ccc;
  --light-light: #eee;
  --light-text: #000;
}

/* Light theme variables (default) */
body {
  --background-color: var(--light-light);
  --text-color: var(--light-text);
}
#footer {
  --background-color: var(--light-darker);
}

/* Dark theme variables */
body.dark {
  --background-color: var(--dark-light);
  --text-color: var(--dark-text);
}
#footer.dark {
  --background-color: var(--dark-dark);
}

/* Adjust variables based on system preference */
@media (prefers-color-scheme: dark) {
  /* Dark theme (default) */
  body {
    --background-color: var(--dark-light);
    --text-color: var(--dark-text);
  }
  #footer {
    --background-color: var(--dark-dark);
  }

  /* Light theme */
  body.light {
    --background-color: var(--light-light);
    --text-color: var(--light-text);
  }
  #footer.light {
    --background-color: var(--light-darker);
  }
}
/* #endregion */

/* #region HTML Elements */
body {
  font-family: Arial;
  width: 250px;
  height: 100%;
  max-height: 600px;
  background-color: var(--background-color);
  color: var(--text-color);
  padding: 0;
  margin: auto;
}

#footer {
  background-color: var(--background-color);
  color: var(--text-color);
}

#footer a {
  background-color: var(--background-color);
  color: var(--text-color);
  font-size: 10px;
}

#footer #disabledMessage {
  color: red;
  font-size: small;
  text-align: center;
}

h4 {
  margin-bottom: 5px;
}

#logo {
  width: 48px;
  height: 48px;
  margin: 1rem;
  margin-left: 50px;
  text-align: center;
}

.container {
  margin-top: 8px;
  margin-bottom: 8px;
}

/* Advanced checkbox */
.checkbox {
  margin-left: 8px;
}

.checkboxLabel {
  line-height: 34px;
}

/* Filter and Wordlist select dropboowns */
.select-label {
  line-height: 39px;
  padding-left: 25px;
  text-align: left;
}

.smallSelect {
  height: 40px;
  width: 150px;
  float: right;
  margin-right: 25px;
}

/* Status */
#statusContainer {
  margin-top: 0;
  margin-bottom: 0;
}

#statusText {
  padding-left: 8px;
}

#statusText.active {
  color: #228B22
}

#statusText.available {
  color: #8A2BE2
}

/* Summary table */
#summary {
  overflow: auto;
  max-height: 180px;
  margin-bottom: 8px;
}

#summary table thead tr {
  background-color: var(--blue);
  color: var(--dark-text);
}

#summary table tbody .summaryTooltip {
  position: absolute;
  left: 0;
  bottom: 18px
}

.options {
  width: 200px;
  margin-left: 25px;
}

/* Options button */
#options {
  margin: 0;
  transition: 0.2s;
  text-align: center;
  cursor: pointer;
  font-weight: normal;
  width: 80%;
}

#options:hover {
  background-color: #ddd;
}

/* Footer */
#footer {
  width: 100%;
  padding-bottom: 4px;
  text-align: center;
}

#footer a#gettingStarted {
  color: var(--blue);
  font-weight: bold;
}

.divider {
  border-bottom: solid #ccc 1px;
  width: 200px;
  margin: auto;
}
/* #endregion */

/* #region Slider */
/* Hide default HTML checkbox */
.switch input {
  display: none;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  width: 60px;
  height: 34px;
  float: right;
  right: 45px;
  top: 24px;
}

input:checked + .slider {
  background-color: var(--blue);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--blue);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
}

/* Rounded slider */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
/* #endregion */

/* #region Utility */
.disabled {
  cursor: not-allowed !important;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Uncaught Errors */
#uncaughtErrors P {
  color: red;
  font-size: 12px;
  line-height: 1;
}

#uncaughtErrors P:first-child {
  font-weight: bolder;
}
/* #endregion */
